# .gitignore

# MacOS stuff
.DS_Store

# Zola stuff
# public is build folder and is futile to version control
public
# are processed_images needed? they are basically resized static images.
static/processed_images

# Hugo stuff
.hugo_build.lock
