{{ define "main" }}
<section class="main">
    <h1 class="title">{{ .Title }}</h1>
    <p class="meta">
        Published on {{ .Date.Format "Mon Jan 2, 2006" }}.
        Estimated read for {{ .ReadingTime }} min.
    </p>
    <div>
        <article id="content">
            {{ .Content }}
        </article>
    </div>
</section>

<div>
    <div class="goto">
    {{ if .PrevInSection }}
      {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> << {{.Title}} </a>
      {{ end }}
    {{ else }}
      <a> </a>
    {{ end }}
    {{ if .NextInSection }}
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}} >></a>
      {{ end }}
    {{ else }}
      <a> </a>
    {{ end }}
    </div>
</div>
{{ end }}
