/* Static CSS for the website */

/* `body` and `a` CSS properties are taken from
https://github.com/setetres/evenbettermotherfuckingwebsite/blob/0a0e010165124ff1e264879eabcd300d7f120155/index.html */
body {
    background: #f2f2f2;
    color: #444444;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 5% auto;
    max-width: 73%;
}
a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

/* "tinker till I get it right" section */
.blogposts {
    list-style: none;
}

code {
    font-size: 90%;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 2px;
}
