/* Static CSS for the website */
@charset "utf-8";

/* body */
body                        { font-family: Menlo, Consolas, "Ubuntu Mono",
                                "Roboto Mono", "DejaVu Sans Mono",
                                monospace; background: #f2f2f2;
                                color: #444444; line-height: 24px; }

/* headings */
h1, h2, h3, h4, h5, h6      { color: #000000; margin: 18px 0 24px 0;
                                font-weight: 400;}
h1 a, h2 a, h3 a, h4 a,
h5 a, h6 a                  { text-decoration: none; }
h1 a:hover, h2 a:hover,
h3 a:hover                  { text-decoration: underline; }
h1                          { font-size: 48px; line-height: 48px; }
h2                          { font-size: 36px; line-height: 36px; }
h3                          { font-size: 24px; line-height: 12px; }

/* links */
a                           { color: #008900; border-bottom: 1px solid;
                                text-decoration: none; }

/* images */
img                         { max-width: 100%; }

/* blockquotes */
blockquote                  { background: #eaeaea; quotes: "\201C""\201D";
                                border-left: 8px solid #008900;
                                border-radius: 8px; margin: 1.5em 10px;
                                padding: 0.5em 10px; }
blockquote:before           { color: #444444; content: open-quote;
                                font-size: 4em; line-height: 0.1em;
                                margin-right: 0.25em; vertical-align: -0.4em; }
blockquote p                { display: inline; }

/* tables */
table                       { border: 1px solid #eaeaea;
                                border-collapse: collapse; }
td, th                      { padding: 2px 12px; border: 1px solid #eaeaea; }
figure                      { margin: 0px; overflow: auto; }

/* code blocks */
pre                         { padding: 1rem; overflow: auto; max-width: none;
                                background: #eaeaea !important;
                                border-radius: 10px;
                                white-space: pre-wrap;       /* css-3 */
                                white-space: -moz-pre-wrap;  /* Mozilla */
                                white-space: -pre-wrap;      /* Opera 4-6 */
                                white-space: -o-pre-wrap;    /* Opera 7 */
                                word-wrap: break-word;       /* IE 5.5+ */}
code                        { background: #eaeaea; padding: 3px;
                                border-radius: 5px; font-size: 16px}
pre code                    { border: none; }
h1 code                     { font-size: 46px; }
h2 code                     { font-size: 34px; }
h3 code                     { font-size: 22px; }
pre[data-linenos]           { padding: 1rem 0; }
pre table td                { padding: 0; border: none; }
pre table td:nth-of-type(1) { text-align: center; user-select: none; }
pre table                   { border-collapse: collapse; border: none;
                                width: 100%; }
pre mark                    { display: block; }

/* specifics */
div.container               { max-width: 1024px; margin: 48px auto;
                                padding: 0 40px; }
div.sitename                { float: left; height: 25px; margin-bottom: 42px; }
div.navigation              { float: right; height: 25px; margin-bottom: 42px; }
div.navigation ul           { margin: 0; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0 10px; }
div.content                 { clear: both; margin: 0 30px; }
div.footer                  { display: inline; float: right; text-align: right;
                                color: #b5b5b5; margin: 24px 10px; }
div.footer p                { margin: 0px; }
div.footer p a              { color: #b5b5b5 }
div.posts                   { margin: 25px 100px; }
div.posts table             { border: none; }
div.posts td, th            { padding: 12px 12px; border: none;
                                vertical-align: top; }
div.posts a                 { border-bottom: none; }
td.pagedate                 { font-family: monospace; color: #b5b5b5; }
div.footnote-definition     { margin: 10px 0px; }
div.footnote-definition sup { padding: 5px; }
div.footnote-definition p   { display: inline; margin: 0px; }

/* mobile */
@media only screen and (max-width: 800px) {
    div.container           { padding: 12px; margin: 0; }
    div.content             { padding: 0; margin: 0; }
    div.sitename            { height: auto; margin: 0; }
    div.navigation          { margin-bottom: 20px; }
    div.posts               { margin: 0; }
    h1                      { font-size: 36px; line-height: 36px; }
    h2                      { font-size: 28px; line-height: 28px; }
    h3                      { font-size: 22px; line-height: 22px; }
}
