{{- $links := partial "connections-data.html" . -}}
{{- if or $links.shards $links.builds -}}
<section class="connections" aria-labelledby="post-connections">
    <h2 id="post-connections">connections <a class="heading-permalink" href="#post-connections" aria-label="Link to section: connections">#</a></h2>
    {{ with $links.shards }}
    <section class="connection-group" aria-labelledby="post-connections-shards">
        <h3 id="post-connections-shards">related shards</h3>
        {{ partial "dated-list.html" . }}
    </section>
    {{ end }}
    {{ with $links.builds }}
    <section class="connection-group" aria-labelledby="post-connections-builds">
        <h3 id="post-connections-builds">related builds</h3>
        {{ partial "dated-list.html" . }}
    </section>
    {{ end }}
</section>
{{- end -}}
