{% extends "base.html" %}

{% block content %}

<h1> {{ section.title }} </h1>
<div class="posts">
    <table>
        <tbody>
            {% for page in section.pages %}
            <tr>
                <td class="pagedate">{{ page.date }}</td>
                <td>
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                    {% if page.description %} - {{ page.description }} {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
