<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#f2f2f2" />

    <!-- Title -->
    <title>
        {% if page %} {{ page.title }} | {% endif %}
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    <!-- Description -->
    {% if page %}
        {% if page.description %}
            <meta name="description" content="{{ page.description }}" />
        {% elif config.description %}
            <meta name="description" content="{{ config.description }}" />
        {% endif %}
    {% elif config.description %}
        <meta name="description" content="{{ config.description }}" />
    {% endif %}

    <!-- Feed -->
    {% block rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}

    <!-- Stylesheet -->
    <link rel="stylesheet" href={{ get_url(path="css/base.css" ) }}>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body>
    <section class="section">
        <div class="container">
        <a href="{{ get_url(path='/') }}">hrmnjt</a> . <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a>
        {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>
