{% extends "base.html" %} 

{% block content %}

  <h1 class="f2 green">hrmnjt</h1>
  <h2 class="f4 f4-m f3-l f3-ns">Engineering @ Majid Al Futtaim</h2>
  
  <p class="lh-copy">
    Hello world! I'm Harmanjeet Singh Nagi and I generally go by the username <span class="green">`hrmnjt`</span> on internet.
  </p>
  
  <p class="lh-copy">
    I work at Majid Al Futtaim <span class="strike mid-gray">Mu Sigma Inc</span> on big data analytics, backend systems, <span class="strike mid-gray">statistical modelling</span>, <span class="strike mid-gray">recommender systems</span>, analytical and transactional databases, lake-houses, system programming, data observability and streaming/batch data pipelines.
  </p>

  <p class="lh-copy red">
    I'm redesigning layout and look/feel of this website. Stay tuned!
  </p>

{% endblock content %}
